/log
/out
/arff
/test
/model
/bin
/abs/
.jacocoverage/
jacoco.exec-*
/stats
/fails
/src/tools/antlr4/DotMealy/DotMealy.tokens
/src/tools/antlr4/DotMealy/DotMealyBaseListener.java
/src/tools/antlr4/DotMealy/DotMealyLexer.java
/src/tools/antlr4/DotMealy/DotMealyLexer.tokens
/src/tools/antlr4/DotMealy/DotMealyListener.java
/src/tools/antlr4/DotMealy/DotMealyParser.java
/src/tools/antlr4/SplittingTree/SplittingTree.tokens
/src/tools/antlr4/SplittingTree/SplittingTreeLexer.tokens
/src/tools/antlr4/SplittingTree/SplittingTreeListener.java
/src/tools/antlr4/SplittingTree/SplittingTreeParser.java
/src/tools/antlr4/SplittingTree/SplittingTreeBaseListener.java
/src/tools/antlr4/SplittingTree/SplittingTreeVisitor.java
/src/tools/antlr4/SplittingTree/SplittingTreeBaseVisitor.java   
/src/tools/antlr4/SplittingTree/SplittingTreeLexer.java/
build/
dist/
**/testAgent_*.txt
