/log
/out
/arff
/test
/model
/bin
/abs/
.jacocoverage/
jacoco.exec-*
/stats
/fails
/src/tools/antlr4/DotMealy/DotMealyBaseListener.java
/src/tools/antlr4/DotMealy/DotMealyLexer.java
/src/tools/antlr4/DotMealy/DotMealyListener.java
/src/tools/antlr4/DotMealy/DotMealyParser.java
/src/*.tokens
build/
dist/
**/testAgent_*.txt
/target/
