Maxime PEYRARD <peyrard.maxime@gmail.com>
Emmanuel PERRIER <emmanuel.perrier@imag.fr>
Franck DE GOËR <degoerdf@imag.fr>
Karim HOSSEN <karim.hossen@imag.fr>
Maxime MEIGNAN <Maxime.Meignan@ensimag.grenoble-inp.fr>
Roland GROZ <Roland.Groz@imag.fr>
Yves GUERTE <guertey@Scherzo>
