/DotMealy.tokens
/DotMealyBaseListener.java
/DotMealyLexer.java
/DotMealyLexer.tokens
/DotMealyListener.java
/DotMealyParser.java
/DotMealyBaseVisitor.java
/DotMealyVisitor.java
/DotMealy/
/SplittingTree.tokens/SplittingTreeBaseListener.java/SplittingTreeBaseVisitor.java/SplittingTreeLexer.java/SplittingTreeLexer.tokens/SplittingTreeListener.java/SplittingTreeParser.java/SplittingTreeVisitor.java
/SplittingTree/
